$white:           #FFFFFF;
$gray-100:        #E8E9EA;
$gray-200:        #909090;
$gray-300:        #808080;
$gray-400:        #707070;
$gray-500:        #606060;
$gray-600:        #505050;
$gray-700:        #404040;
$gray-800:        #303030;
$gray-900:        #202020;
$black:           #101010;

/*
$red:             #E65F5C;
$yellow:          #ffc107;
$blue:            #3988EF;
$orange:          mix($red, $yellow);
$green:           mix($yellow, $blue);
$teal:            #20c997;
$cyan:            #44A8AF;
$purple:          #6F42C1;
$indigo:          #9D5AC9;
$pink:            #e83e8c;
*/

$red:             #E65F5C;
$orange:          #F5871F;
$yellow:          #ffc107;
$green:           #60AD40;
$teal:            #20c997;
$cyan:            #44A8AF;
$blue:            #3988EF;
$purple:          #6F42C1;
$indigo:          #9D5AC9;
$pink:            #e83e8c;



$transparent:     rgba($gray-300, 0.3);
$light:           $gray-100;
$dark:            $gray-900;
$success:         $green;
$info:            $teal !default;
$warning:         $yellow !default;
$danger:          $red;
