<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ site.logo }}" width="30" height="25" class="d-inline-block align-middle mr-1" alt=""> {{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/documentation/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for documentation in site.documentation %}
              <a class="dropdown-item" href="{{ documentation.url }}.html">{{ documentation.title }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
