<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/icons/3d.svg" width="30" height="25" class="d-inline-block align-middle mr-1" alt="" style="filter: grayscale(100%);"> bootstrapped</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link mr-1" href="/site/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/documentation/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/documentation/installing.html">Installing</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
